.btns {
  display: flex;
  justify-content: space-around;
  padding: 10% 0%;
}

.card {
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(0, 0%, 50%, 30%) !important;
  width: 30%;
  margin: 1%;
  padding: 2% 3%;
}

.text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
}
